@using ProductPreview.Components.AppRoutes;

@inherits ComponentBase
@attribute [Route(ApplicationRoutes.Products)]

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-2 d-flex justify-content-start align-items-center">
            <h4>Order #5454 - Table(T-13 , T-15)</h4>
        </div>
        <div class="col-12 mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-start align-items-center col-6 gap-x-3">
                    <InputText @bind-Value=SearchValue class="form-control" placeholder="Search..." />
                    <button class="btn btn-primary rounded-3">Search</button>
                </div>

                <button class="btn btn-secondary me-4">&#127828;</button>
            </div>
        </div>

        <div class="col-12 mt-3">
            <div class="d-flex justify-content-start align-items-center gap-x-3">

                <InputRadioGroup Name="color" @bind-Value="SelectedCategory">

                    @foreach (var item in Categories)
                    {

                        string activeCss = item == SelectedCategory ? "btn-primary" : "btn-outline-primary";
                        <button type="button" class="btn @activeCss">
                            @item
                            <InputRadio TValue="string" Value="@item" class="opacity-0 " />

                        </button>

                    }
                </InputRadioGroup>

            </div>
        </div>


        <div class="container mt-3" style="height:calc(100vh - 10rem); overflow-x:hidden;">

            <div class="d-flex justify-content-around align-items-center flex-wrap col-12 mx-0 ">

                @for (var i = 0; i < 100; i++)
                {
                    <div class="card rounded-4 transform-scale p-2" @onclick=OpenProductDetailDialog>
                        <img class="card-img-top" src="/images/Hamburger.jfif" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text.</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<style>
    .card {
        box-shadow: 0px 5px 10px 4px rgba(0,0,0,0.1);
        overflow: hidden;
        background-color: white;
        cursor: pointer;
    }

    .card-img-top {
        width:18vw;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    }

    .card.transform-scale {
        transform: scale(0.8);
        transition: all 150ms ease-in-out;
        filter:blur(0.01rem);
    }

    .card:hover.transform-scale {
        transform: scale(0.9);
        transition: all 150ms ease-in-out;
        filter: blur(0);
    }
</style>