@using ProductPreview.Components.ApplicationRoutes
@attribute [Route(ApplicationRoutes.PurchaseDetail)]

<div class="container-fluid">
    <div class="row">
        <div class="col-6 d-flex justify-content-center align-items-center flex-column ">
            <div class="h-100 w-100" style="max-height:50vh; max-width:50vw;">
                <img src="/images/Buy.png" width="50%" height="100%" class="mx-auto d-block" />
            </div>

            <div class="mt-4">
                <div class="d-flex justify-content-between align-items-center">
                    <MudBadge></MudBadge>
                    <MudBadge></MudBadge>
                </div>

                <MudButton Color=Color.Primary Variant="Variant.Filled" Class="w-100 mt-3">Print Receipt</MudButton>
                <MudButton Color=Color.Primary Variant="Variant.Outlined" Class="w-100 mt-3">Print Receipt</MudButton>

            </div>
        </div>
        <div class="col-6 bg-muted d-flex justify-content-between align-items-center flex-column">
            <div style="max-height:25vh" class="h-100 text-center">
                <MudIcon Icon="@Icons.Material.Filled.ShoppingBasket" Size="Size.Medium" Class="w-100" />
                <h3>Order Succesfull</h3>
            </div>

            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <span>No Transaction:</span>
                    <span></span>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <span>Tables:</span>
                    <span></span>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <span>Payment:</span>
                    <span></span>
                </div>

                <hr />

                <div class="d-flex justify-content-between align-items-center">
                    <span>Total Items:</span>
                    <span></span>

                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <span></span>
                    <span></span>
                </div>

                <hr />

                <div class="d-flex justify-content-between align-items-center">
                    <span>SubTotal:</span>
                    <span></span>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <span>Discount Sales:</span>
                    <span></span>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <span>Total Sales Tax:</span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>
